In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
Bahman_Tractor=pd.read_excel("Bahman-98.xlsx")

In [3]:
Bahman_Tractor.head()

,شماره درخواست,نام كاربري,كاربرد,مخاطب اول,مخاطب دوم,استان,شهرستان,نام فرآورده,تاريخ تاييد,موافقت دوره از,موافقت دوره تا,مقدار درخواست,مقدار تاييد ناحيه,مقدار تاييد متولي اول,مقدار تاييد متولي دوم,تایید سرویس صنعتی
0,2936925,87601p74522,تراکتور,وزارت جهاد كشاورزي,ندارد,مازندران,سيمرغ,نفتگاز,1398/11/14 8:42:50.993,1398/11/14 0:0:0.0,1398/11/30 0:0:0.0,800,800,800,0,0
1,2984904,498558p4543,تراکتور,وزارت جهاد كشاورزي,ندارد,مازندران,بابل,نفتگاز,1398/11/05 12:4:2.511,1398/11/05 0:0:0.0,1398/11/30 0:0:0.0,1500,1500,1500,0,0
2,3009046,13b39231310,تراکتور,وزارت جهاد كشاورزي,ندارد,مازندران,بابل,نفتگاز,1398/11/19 10:15:47.308,1398/11/19 0:0:0.0,1398/11/30 0:0:0.0,2000,2000,2000,0,0
3,3035788,1316725p667,تراکتور,وزارت جهاد كشاورزي,ندارد,مازندران,بابل,نفتگاز,1398/11/15 10:0:23.983,1398/11/15 0:0:0.0,1398/11/30 0:0:0.0,3000,1000,1000,0,0
4,3035897,19776r93143,تراکتور,وزارت جهاد كشاورزي,ندارد,مازندران,بابل,نفتگاز,1398/11/15 9:54:9.735,1398/11/15 0:0:0.0,1398/11/30 0:0:0.0,3000,1500,1500,0,0

In [5]:
Esfand_Tractor=pd.read_excel("Esfand-98.xlsx")

In [6]:
Esfand_Tractor.head()

,شماره درخواست,نام كاربري,كاربرد,مخاطب اول,مخاطب دوم,استان,شهرستان,نام فرآورده,تاريخ تاييد,موافقت دوره از,موافقت دوره تا,مقدار درخواست,مقدار تاييد ناحيه,مقدار تاييد متولي اول,مقدار تاييد متولي دوم,تایید سرویس صنعتی
0,3035243,2N445459701,تراکتور,وزارت جهاد كشاورزي,ندارد,گلستان,بندرگز,نفتگاز,1398/12/24 14:41:45.925,1398/12/24 0:0:0.0,1398/12/29 0:0:0.0,1000,550,550,0,0
1,3035247,2N445459701,تراکتور,وزارت جهاد كشاورزي,ندارد,گلستان,بندرگز,نفتگاز,1398/12/24 14:42:41.20,1398/12/24 0:0:0.0,1398/12/29 0:0:0.0,600,550,550,0,0
2,3035254,2N445459701,تراکتور,وزارت جهاد كشاورزي,ندارد,گلستان,بندرگز,نفتگاز,1398/12/24 14:45:25.589,1398/12/24 0:0:0.0,1398/12/29 0:0:0.0,500,350,350,0,0
3,3035278,2N445459701,تراکتور,وزارت جهاد كشاورزي,ندارد,گلستان,بندرگز,نفتگاز,1398/12/24 14:44:38.634,1398/12/24 0:0:0.0,1398/12/29 0:0:0.0,1000,550,550,0,0
4,3038082,121930f6989,تراکتور,وزارت جهاد كشاورزي,ندارد,قم,قم,نفتگاز,1398/12/13 10:33:19.672,1398/12/13 0:0:0.0,1398/12/29 0:0:0.0,3000,1000,1000,0,0

In [7]:
Esfand_Tractor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77326 entries, 0 to 77325
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   شماره درخواست          77326 non-null  int64
 1   نام كاربري             77326 non-null  object
 2   كاربرد                 77326 non-null  object
 3   مخاطب اول              77326 non-null  object
 4   مخاطب دوم              77326 non-null  object
 5   استان                  77326 non-null  object
 6   شهرستان                77326 non-null  object
 7   نام فرآورده            77326 non-null  object
 8   تاريخ تاييد            77326 non-null  object
 9   موافقت دوره از         77326 non-null  object
 10  موافقت دوره تا         77326 non-null  object
 11  مقدار درخواست          77326 non-null  int64
 12  مقدار تاييد ناحيه      77326 non-null  int64
 13  مقدار تاييد متولي اول  77326 non-null  int64
 14  مقدار تاييد متولي دوم  77326 non-null  int64
 15  تایید سرویس صنعتی      77326 non-null  int64
dtypes: int64(6), object(10)
memory usage: 9.4+ MB

In [8]:
Bahman_Tractor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54871 entries, 0 to 54870
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   شماره درخواست          54871 non-null  int64
 1   نام كاربري             54871 non-null  object
 2   كاربرد                 54871 non-null  object
 3   مخاطب اول              54871 non-null  object
 4   مخاطب دوم              54871 non-null  object
 5   استان                  54871 non-null  object
 6   شهرستان                54871 non-null  object
 7   نام فرآورده            54871 non-null  object
 8   تاريخ تاييد            54871 non-null  object
 9   موافقت دوره از         54871 non-null  object
 10  موافقت دوره تا         54871 non-null  object
 11  مقدار درخواست          54871 non-null  int64
 12  مقدار تاييد ناحيه      54871 non-null  int64
 13  مقدار تاييد متولي اول  54871 non-null  int64
 14  مقدار تاييد متولي دوم  54871 non-null  int64
 15  تایید سرویس صنعتی      54871 non-null  int64
dtypes: int64(6), object(10)
memory usage: 6.7+ MB

In [9]:
Total=pd.concat([Bahman_Tractor,Esfand_Tractor],ignore_index=True).drop_duplicates()

In [10]:
Total.head()

,شماره درخواست,نام كاربري,كاربرد,مخاطب اول,مخاطب دوم,استان,شهرستان,نام فرآورده,تاريخ تاييد,موافقت دوره از,موافقت دوره تا,مقدار درخواست,مقدار تاييد ناحيه,مقدار تاييد متولي اول,مقدار تاييد متولي دوم,تایید سرویس صنعتی
0,2936925,87601p74522,تراکتور,وزارت جهاد كشاورزي,ندارد,مازندران,سيمرغ,نفتگاز,1398/11/14 8:42:50.993,1398/11/14 0:0:0.0,1398/11/30 0:0:0.0,800,800,800,0,0
1,2984904,498558p4543,تراکتور,وزارت جهاد كشاورزي,ندارد,مازندران,بابل,نفتگاز,1398/11/05 12:4:2.511,1398/11/05 0:0:0.0,1398/11/30 0:0:0.0,1500,1500,1500,0,0
2,3009046,13b39231310,تراکتور,وزارت جهاد كشاورزي,ندارد,مازندران,بابل,نفتگاز,1398/11/19 10:15:47.308,1398/11/19 0:0:0.0,1398/11/30 0:0:0.0,2000,2000,2000,0,0
3,3035788,1316725p667,تراکتور,وزارت جهاد كشاورزي,ندارد,مازندران,بابل,نفتگاز,1398/11/15 10:0:23.983,1398/11/15 0:0:0.0,1398/11/30 0:0:0.0,3000,1000,1000,0,0
4,3035897,19776r93143,تراکتور,وزارت جهاد كشاورزي,ندارد,مازندران,بابل,نفتگاز,1398/11/15 9:54:9.735,1398/11/15 0:0:0.0,1398/11/30 0:0:0.0,3000,1500,1500,0,0

In [11]:
Total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 132196 entries, 0 to 132196
Data columns (total 16 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   شماره درخواست          132196 non-null  int64
 1   نام كاربري             132196 non-null  object
 2   كاربرد                 132196 non-null  object
 3   مخاطب اول              132196 non-null  object
 4   مخاطب دوم              132196 non-null  object
 5   استان                  132196 non-null  object
 6   شهرستان                132196 non-null  object
 7   نام فرآورده            132196 non-null  object
 8   تاريخ تاييد            132196 non-null  object
 9   موافقت دوره از         132196 non-null  object
 10  موافقت دوره تا         132196 non-null  object
 11  مقدار درخواست          132196 non-null  int64
 12  مقدار تاييد ناحيه      132196 non-null  int64
 13  مقدار تاييد متولي اول  132196 non-null  int64
 14  مقدار تاييد متولي دوم  132196 non-null  int64
 15  تایید سرویس صنعتی      132196 non-null  int64
dtypes: int64(6), object(10)
memory usage: 17.1+ MB

In [12]:
Total[['First','First_time']] = Total["موافقت دوره از"].str.split(" ",expand=True)

In [14]:
Total.head()

,شماره درخواست,نام كاربري,كاربرد,مخاطب اول,مخاطب دوم,استان,شهرستان,نام فرآورده,تاريخ تاييد,موافقت دوره از,موافقت دوره تا,مقدار درخواست,مقدار تاييد ناحيه,مقدار تاييد متولي اول,مقدار تاييد متولي دوم,تایید سرویس صنعتی,First,First_time
0,2936925,87601p74522,تراکتور,وزارت جهاد كشاورزي,ندارد,مازندران,سيمرغ,نفتگاز,1398/11/14 8:42:50.993,1398/11/14 0:0:0.0,1398/11/30 0:0:0.0,800,800,800,0,0,1398/11/14,0:0:0.0
1,2984904,498558p4543,تراکتور,وزارت جهاد كشاورزي,ندارد,مازندران,بابل,نفتگاز,1398/11/05 12:4:2.511,1398/11/05 0:0:0.0,1398/11/30 0:0:0.0,1500,1500,1500,0,0,1398/11/05,0:0:0.0
2,3009046,13b39231310,تراکتور,وزارت جهاد كشاورزي,ندارد,مازندران,بابل,نفتگاز,1398/11/19 10:15:47.308,1398/11/19 0:0:0.0,1398/11/30 0:0:0.0,2000,2000,2000,0,0,1398/11/19,0:0:0.0
3,3035788,1316725p667,تراکتور,وزارت جهاد كشاورزي,ندارد,مازندران,بابل,نفتگاز,1398/11/15 10:0:23.983,1398/11/15 0:0:0.0,1398/11/30 0:0:0.0,3000,1000,1000,0,0,1398/11/15,0:0:0.0
4,3035897,19776r93143,تراکتور,وزارت جهاد كشاورزي,ندارد,مازندران,بابل,نفتگاز,1398/11/15 9:54:9.735,1398/11/15 0:0:0.0,1398/11/30 0:0:0.0,3000,1500,1500,0,0,1398/11/15,0:0:0.0

In [15]:
Total[['Second','Second_time']] = Total["موافقت دوره تا"].str.split(" ",expand=True)

In [16]:
Total.head()

,شماره درخواست,نام كاربري,كاربرد,مخاطب اول,مخاطب دوم,استان,شهرستان,نام فرآورده,تاريخ تاييد,موافقت دوره از,موافقت دوره تا,مقدار درخواست,مقدار تاييد ناحيه,مقدار تاييد متولي اول,مقدار تاييد متولي دوم,تایید سرویس صنعتی,First,First_time,Second,Second_time
0,2936925,87601p74522,تراکتور,وزارت جهاد كشاورزي,ندارد,مازندران,سيمرغ,نفتگاز,1398/11/14 8:42:50.993,1398/11/14 0:0:0.0,1398/11/30 0:0:0.0,800,800,800,0,0,1398/11/14,0:0:0.0,1398/11/30,0:0:0.0
1,2984904,498558p4543,تراکتور,وزارت جهاد كشاورزي,ندارد,مازندران,بابل,نفتگاز,1398/11/05 12:4:2.511,1398/11/05 0:0:0.0,1398/11/30 0:0:0.0,1500,1500,1500,0,0,1398/11/05,0:0:0.0,1398/11/30,0:0:0.0
2,3009046,13b39231310,تراکتور,وزارت جهاد كشاورزي,ندارد,مازندران,بابل,نفتگاز,1398/11/19 10:15:47.308,1398/11/19 0:0:0.0,1398/11/30 0:0:0.0,2000,2000,2000,0,0,1398/11/19,0:0:0.0,1398/11/30,0:0:0.0
3,3035788,1316725p667,تراکتور,وزارت جهاد كشاورزي,ندارد,مازندران,بابل,نفتگاز,1398/11/15 10:0:23.983,1398/11/15 0:0:0.0,1398/11/30 0:0:0.0,3000,1000,1000,0,0,1398/11/15,0:0:0.0,1398/11/30,0:0:0.0
4,3035897,19776r93143,تراکتور,وزارت جهاد كشاورزي,ندارد,مازندران,بابل,نفتگاز,1398/11/15 9:54:9.735,1398/11/15 0:0:0.0,1398/11/30 0:0:0.0,3000,1500,1500,0,0,1398/11/15,0:0:0.0,1398/11/30,0:0:0.0

In [78]:
Total_1=Total.drop(columns=["شماره درخواست","مخاطب اول","كاربرد","مخاطب دوم","شهرستان","نام فرآورده","تاريخ تاييد","موافقت دوره از","موافقت دوره تا","مقدار درخواست","مقدار تاييد متولي اول","مقدار تاييد متولي دوم","تایید سرویس صنعتی","First_time","Second_time"])

In [79]:
Total_1.head()

    نام كاربري     استان  مقدار تاييد ناحيه       First      Second
0  87601p74522  مازندران                800  1398/11/14  1398/11/30
1  498558p4543  مازندران               1500  1398/11/05  1398/11/30
2  13b39231310  مازندران               2000  1398/11/19  1398/11/30
3  1316725p667  مازندران               1000  1398/11/15  1398/11/30
4  19776r93143  مازندران               1500  1398/11/15  1398/11/30

In [80]:
Total_1[['Second_1','Second_2','Second_3']] = Total_1["Second"].str.split("/",expand=True)

In [81]:
Total_1[['First_1','First_2','First_3']] = Total_1["First"].str.split("/",expand=True)

In [82]:
Total_1.head()

,نام كاربري,استان,مقدار تاييد ناحيه,First,Second,Second_1,Second_2,Second_3,First_1,First_2,First_3
0,87601p74522,مازندران,800,1398/11/14,1398/11/30,1398,11,30,1398,11,14
1,498558p4543,مازندران,1500,1398/11/05,1398/11/30,1398,11,30,1398,11,05
2,13b39231310,مازندران,2000,1398/11/19,1398/11/30,1398,11,30,1398,11,19
3,1316725p667,مازندران,1000,1398/11/15,1398/11/30,1398,11,30,1398,11,15
4,19776r93143,مازندران,1500,1398/11/15,1398/11/30,1398,11,30,1398,11,15

In [83]:
Total_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 132196 entries, 0 to 132196
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   نام كاربري         132196 non-null  object
 1   استان              132196 non-null  object
 2   مقدار تاييد ناحيه  132196 non-null  int64
 3   First              132196 non-null  object
 4   Second             132196 non-null  object
 5   Second_1           132196 non-null  object
 6   Second_2           132196 non-null  object
 7   Second_3           132196 non-null  object
 8   First_1            132196 non-null  object
 9   First_2            132196 non-null  object
 10  First_3            132196 non-null  object
dtypes: int64(1), object(10)
memory usage: 12.1+ MB

In [84]:
Total_1["Second_3"]=pd.to_numeric(Total_1["Second_3"])
Total_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 132196 entries, 0 to 132196
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   نام كاربري         132196 non-null  object
 1   استان              132196 non-null  object
 2   مقدار تاييد ناحيه  132196 non-null  int64
 3   First              132196 non-null  object
 4   Second             132196 non-null  object
 5   Second_1           132196 non-null  object
 6   Second_2           132196 non-null  object
 7   Second_3           132196 non-null  int64
 8   First_1            132196 non-null  object
 9   First_2            132196 non-null  object
 10  First_3            132196 non-null  object
dtypes: int64(2), object(9)
memory usage: 12.1+ MB

In [85]:
Total_1["First_3"]=pd.to_numeric(Total_1["First_3"])
Total_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 132196 entries, 0 to 132196
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   نام كاربري         132196 non-null  object
 1   استان              132196 non-null  object
 2   مقدار تاييد ناحيه  132196 non-null  int64
 3   First              132196 non-null  object
 4   Second             132196 non-null  object
 5   Second_1           132196 non-null  object
 6   Second_2           132196 non-null  object
 7   Second_3           132196 non-null  int64
 8   First_1            132196 non-null  object
 9   First_2            132196 non-null  object
 10  First_3            132196 non-null  int64
dtypes: int64(3), object(8)
memory usage: 12.1+ MB

In [86]:
Total_1["Difference"]=Total_1["Second_3"]-Total_1["First_3"]

In [87]:
Total_1.head()

,نام كاربري,استان,مقدار تاييد ناحيه,First,Second,Second_1,Second_2,Second_3,First_1,First_2,First_3,Difference
0,87601p74522,مازندران,800,1398/11/14,1398/11/30,1398,11,30,1398,11,14,16
1,498558p4543,مازندران,1500,1398/11/05,1398/11/30,1398,11,30,1398,11,5,25
2,13b39231310,مازندران,2000,1398/11/19,1398/11/30,1398,11,30,1398,11,19,11
3,1316725p667,مازندران,1000,1398/11/15,1398/11/30,1398,11,30,1398,11,15,15
4,19776r93143,مازندران,1500,1398/11/15,1398/11/30,1398,11,30,1398,11,15,15

In [88]:
Total_1=Total_1.drop_duplicates()
Total_1.drop(Total_1.iloc[:,3:11],inplace=True,axis=1) 
Total_1.head()

    نام كاربري     استان  مقدار تاييد ناحيه  Difference
0  87601p74522  مازندران                800          16
1  498558p4543  مازندران               1500          25
2  13b39231310  مازندران               2000          11
3  1316725p667  مازندران               1000          15
4  19776r93143  مازندران               1500          15

In [89]:
Total_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122898 entries, 0 to 132196
Data columns (total 4 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   نام كاربري         122898 non-null  object
 1   استان              122898 non-null  object
 2   مقدار تاييد ناحيه  122898 non-null  int64
 3   Difference         122898 non-null  int64
dtypes: int64(2), object(2)
memory usage: 4.7+ MB

In [90]:
Total_1.to_excel("Total_1.xlsx")

In [108]:
Total_2=Total_1.groupby(Total_1["نام كاربري"])

In [109]:
Final_s=Total_2.sum()
Final_s

             مقدار تاييد ناحيه  Difference
نام كاربري
10603667                  1400          27
18335774                   660           8
28533230                  2000          50
59735060                   440           4
76578190                   440           9
...                        ...         ...
x9478542202               2000          23
x9578588913               2000          32
x9584503281               3000          34
x9870701451               2000          26
x9943468789                600          24

[85506 rows x 2 columns]

In [110]:
Final_1=pd.merge(Final_s,Total_1,on='نام كاربري',how='left')
Final_1=Final_1.drop_duplicates()
Final_1.drop(Final_1.iloc[:,4:],inplace=True,axis=1)
Final_1=Final_1.drop_duplicates()
Final_1

         نام كاربري  مقدار تاييد ناحيه_x  Difference_x             استان
0          10603667                 1400            27           خوزستان
2          18335774                  660             8            اصفهان
3          28533230                 2000            50          مازندران
5          59735060                  440             4            اردبيل
6          76578190                  440             9            اردبيل
...             ...                  ...           ...               ...
122890  x9478542202                 2000            23             تهران
122891  x9578588913                 2000            32           خوزستان
122893  x9584503281                 3000            34           خوزستان
122895  x9870701451                 2000            26           خوزستان
122897  x9943468789                  600            24  سيستان وبلوچستان

[85518 rows x 4 columns]

In [124]:
Final_c=Total_2.count()
Final_c["تعداد"]=Final_c["استان"]
Final_c

             استان  مقدار تاييد ناحيه  Difference  تعداد
نام كاربري
10603667         2                  2           2      2
18335774         1                  1           1      1
28533230         2                  2           2      2
59735060         1                  1           1      1
76578190         1                  1           1      1
...            ...                ...         ...    ...
x9478542202      1                  1           1      1
x9578588913      2                  2           2      2
x9584503281      2                  2           2      2
x9870701451      2                  2           2      2
x9943468789      1                  1           1      1

[85506 rows x 4 columns]

In [133]:
Final_2=pd.merge(Final_1,Final_c,on='نام كاربري',how='left')
Final_2.drop(Final_2.iloc[:,4:7],inplace=True,axis=1)
Final_2=Final_2.drop_duplicates()
Final_2.head()

  نام كاربري  مقدار تاييد ناحيه_x  Difference_x   استان_x  تعداد
0   10603667                 1400            27   خوزستان      2
1   18335774                  660             8    اصفهان      1
2   28533230                 2000            50  مازندران      2
3   59735060                  440             4    اردبيل      1
4   76578190                  440             9    اردبيل      1

In [139]:
Final_2.rename(columns={'مقدار تاييد ناحيه_x':'مقدار تاييد ناحيه','Difference_x':"جمع روز"},inplace=True)

In [140]:
Final_2.rename(columns={'استان_x':'استان'},inplace=True) 
Final_2

        نام كاربري  مقدار تاييد ناحيه  جمع روز             استان  تعداد
0         10603667               1400       27           خوزستان      2
1         18335774                660        8            اصفهان      1
2         28533230               2000       50          مازندران      2
3         59735060                440        4            اردبيل      1
4         76578190                440        9            اردبيل      1
...            ...                ...      ...               ...    ...
85513  x9478542202               2000       23             تهران      1
85514  x9578588913               2000       32           خوزستان      2
85515  x9584503281               3000       34           خوزستان      2
85516  x9870701451               2000       26           خوزستان      2
85517  x9943468789                600       24  سيستان وبلوچستان      1

[85518 rows x 5 columns]

In [141]:
Final_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85518 entries, 0 to 85517
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   نام كاربري         85518 non-null  object
 1   مقدار تاييد ناحيه  85518 non-null  int64
 2   جمع روز            85518 non-null  int64
 3   استان              85518 non-null  object
 4   تعداد              85518 non-null  int64
dtypes: int64(3), object(2)
memory usage: 3.9+ MB

In [142]:
Final_2.to_excel("Second_Traktor1.xlsx")

In [251]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [252]:
First_Traktor=pd.read_excel("First_Traktor.xlsx")

In [253]:
Second_Traktor=pd.read_excel("Second_Traktor.xlsx")

In [254]:
First_Traktor.head()

    نام كاربري  استان  تعداد  جمع روز  جمع لیتر  تعداد ماه
0  11C77920604  ایلام      4       99      2350           4
1  11g77177975  ایلام      4       90      1800           3
2  126e4051070  ایلام      4      102      1700           4
3  1277K358672  ایلام      4      102      4050           4
4  1333193u430  ایلام      3       43      1900           2

In [255]:
First_Traktor

         نام كاربري  استان  تعداد  جمع روز  جمع لیتر  تعداد ماه
0       11C77920604  ایلام      4       99      2350           4
1       11g77177975  ایلام      4       90      1800           3
2       126e4051070  ایلام      4      102      1700           4
3       1277K358672  ایلام      4      102      4050           4
4       1333193u430  ایلام      3       43      1900           2
...             ...    ...    ...      ...       ...         ...
152454  21211m05723    یزد      1       21       300           1
152455  214270p5825    یزد      1       13       300           1
152456  23604980p14    یزد      1        7      1800           1
152457  25t87435321    یزد      1       22      1800           1
152458  26x50651213    یزد      1       18       300           1

[152459 rows x 6 columns]

In [256]:
First_Traktor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152459 entries, 0 to 152458
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   نام كاربري  152459 non-null  object
 1   استان       152459 non-null  object
 2   تعداد       152459 non-null  int64
 3   جمع روز     152459 non-null  int64
 4   جمع لیتر    152459 non-null  int64
 5   تعداد ماه   152459 non-null  int64
dtypes: int64(4), object(2)
memory usage: 7.0+ MB

In [275]:
Second_Traktor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85518 entries, 0 to 85517
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   نام كاربري  85518 non-null  object
 1   استان       85518 non-null  object
 2   تعداد       85518 non-null  int64
 3   جمع روز     85518 non-null  int64
 4   جمع لیتر    85518 non-null  int64
 5   تعداد ماه   85518 non-null  int64
dtypes: int64(4), object(2)
memory usage: 3.9+ MB

In [257]:
Ostan=First_Traktor.استان.unique()
Ostan.sort()
Ostan

array(['اذربایجان شرقی', 'اذربایجان غربی', 'اردبیل', 'اصفهان', 'البرز',
       'ایلام', 'بوشهر', 'تهران', 'خراسان جنوبی', 'خراسان رضوئ',
       'خراسان شمالی', 'خوزستان', 'زنجان', 'سمنان', 'سیستان وبلوچستان',
       'فارس', 'قزوین', 'قم', 'لرستان', 'مازندران', 'مرکزی', 'هرمزگان',
       'همدان', 'چهارمحال وبختیارئ', 'کردستان', 'کرمان', 'کرمانشاه',
       'کهگیلویه وبویراحمد', 'گلستان', 'گیلان', 'یزد'], dtype=object)

In [258]:
Ostan1=Second_Traktor.استان.unique()
Ostan1.sort()
Ostan1

array(['آذربايجان شرقي', 'آذربايجان غربي', 'اردبيل', 'اصفهان', 'البرز',
       'ايلام', 'بوشهر', 'تهران', 'خراسان جنوبي', 'خراسان رضوئ',
       'خراسان شمالي', 'خوزستان', 'زنجان', 'سمنان', 'سيستان وبلوچستان',
       'فارس', 'قزوين', 'قم', 'كردستان', 'كرمان', 'كهگيلويه وبويراحمد',
       'لرستان', 'مازندران', 'مرکزي', 'هرمزگان', 'همدان', 'يزد',
       'چهارمحال وبختيارئ', 'کرمانشاه', 'گلستان', 'گيلان'], dtype=object)

In [260]:
First_Traktor=First_Traktor.replace(['اذربایجان شرقی', 'اذربایجان غربی', 'اردبیل', 'اصفهان', 'البرز',
       'ایلام', 'بوشهر', 'تهران', 'خراسان جنوبی', 'خراسان رضوئ',
       'خراسان شمالی', 'خوزستان', 'زنجان', 'سمنان', 'سیستان وبلوچستان',
       'فارس', 'قزوین', 'قم', 'لرستان', 'مازندران', 'مرکزی', 'هرمزگان',
       'همدان', 'چهارمحال وبختیارئ', 'کردستان', 'کرمان', 'کرمانشاه',
       'کهگیلویه وبویراحمد', 'گلستان', 'گیلان', 'یزد'],
                     ['آذربايجان شرقي', 'آذربايجان غربي', 'اردبيل', 'اصفهان', 'البرز',
       'ايلام', 'بوشهر', 'تهران', 'خراسان جنوبي', 'خراسان رضوئ',
       'خراسان شمالي', 'خوزستان', 'زنجان', 'سمنان', 'سيستان وبلوچستان',
       'قزوين', 'قم', 'لرستان', 'مازندران', 'مرکزي', 'هرمزگان',
       'همدان', 'چهارمحال وبختيارئ', 'كردستان', 'كرمان', 'کرمانشاه', 'فارس',
       'كهگيلويه وبويراحمد', 'گلستان', 'گيلان', 'يزد'])

In [261]:
First_Traktor

         نام كاربري  استان  تعداد  جمع روز  جمع لیتر  تعداد ماه
0       11C77920604  ايلام      4       99      2350           4
1       11g77177975  ايلام      4       90      1800           3
2       126e4051070  ايلام      4      102      1700           4
3       1277K358672  ايلام      4      102      4050           4
4       1333193u430  ايلام      3       43      1900           2
...             ...    ...    ...      ...       ...         ...
152454  21211m05723    يزد      1       21       300           1
152455  214270p5825    يزد      1       13       300           1
152456  23604980p14    يزد      1        7      1800           1
152457  25t87435321    يزد      1       22      1800           1
152458  26x50651213    يزد      1       18       300           1

[152459 rows x 6 columns]

In [273]:
First_Traktor["استان"][First_Traktor["استان"]=="اذربایجان شرقی"]

Series([], Name: استان, dtype: object)

In [264]:
Traktor=pd.concat([First_Traktor,Second_Traktor],ignore_index=True)

In [265]:
Traktor

         نام كاربري  استان  تعداد  جمع روز  جمع لیتر  تعداد ماه
0       11C77920604  ايلام      4       99      2350           4
1       11g77177975  ايلام      4       90      1800           3
2       126e4051070  ايلام      4      102      1700           4
3       1277K358672  ايلام      4      102      4050           4
4       1333193u430  ايلام      3       43      1900           2
...             ...    ...    ...      ...       ...         ...
237972  E3325452811    يزد      1       19       300           1
237973  W1699856586    يزد      1       18       400           1
237974  g1098213051    يزد      1       21       400           1
237975  p1343746528    يزد      1        4       150           1
237976  x1214367546    يزد      1       24       500           1

[237977 rows x 6 columns]

In [266]:
Traktor_1=Traktor.groupby(["نام كاربري"])

In [267]:
Traktor_2=Traktor_1.sum()
Traktor_2

               تعداد  جمع روز  جمع لیتر  تعداد ماه
نام كاربري
10603667           2       27      1400           1
18335774           1        8       660           1
28533230           2       50      2000           2
59735060           1        4       440           1
76578190           1        9       440           1
...              ...      ...       ...         ...
x9870701451        3       34      3000           2
x9943468789        3       47      2000           2
‎10057551B36‎      2       29       880           1
‎163555B5092‎      2       28       880           1
‎6088472W372‎      2       32       880           2

[187413 rows x 4 columns]

In [274]:
Final_3=pd.merge(Traktor_2,Traktor,on='نام كاربري',how='left')
Final_3.drop(Final_3.iloc[:, 6:],inplace = True,axis = 1) 
Final_3=Final_3.drop_duplicates()
Final_3

,نام كاربري,تعداد_x,جمع روز_x,جمع لیتر_x,تعداد ماه _x,استان
0,10603667,2,27,1400,1,خوزستان
1,18335774,1,8,660,1,اصفهان
2,28533230,2,50,2000,2,مازندران
3,59735060,1,4,440,1,اردبيل
4,76578190,1,9,440,1,اردبيل
...,...,...,...,...,...,...
237970,x9870701451,3,34,3000,2,خوزستان
237972,x9943468789,3,47,2000,2,سيستان وبلوچستان
237974,‎10057551B36‎,2,29,880,1,خراسان جنوبي
237975,‎163555B5092‎,2,28,880,1,خراسان جنوبي
237976,‎6088472W372‎,2,32,880,2,خراسان جنوبي

In [269]:
Final_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 199189 entries, 0 to 237976
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   نام كاربري    199189 non-null  object
 1   تعداد_x       199189 non-null  int64
 2   جمع روز_x     199189 non-null  int64
 3   جمع لیتر_x    199189 non-null  int64
 4   تعداد ماه _x  199189 non-null  int64
 5   استان         199189 non-null  object
dtypes: int64(4), object(2)
memory usage: 10.6+ MB

In [277]:
Final_3.to_excel("Final.xlsx")